.trips {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    
    .trip {
        text-align: center;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 30px;
        
    }
}